@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;700&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}
.main{
    background: #1C3180;
    color: white;
    text-align: center;
    padding: 20px 0;
    border-bottom: 10px solid #FE630E;
}
h1{
    font-size: 64px;
    font-weight: 700;

}
.middle{
    width: 950px;
    margin: 0 auto;
}
.h2{
   font-size: 48px;
   font-weight: 700; 
   padding-top: 40px;
   padding-bottom: 20px;
}
.p1{
    font-size: 24px;
    font-weight: 400;
    padding-top: 20px;
    padding-bottom: 40px;
}
a{
    color: #FE630E;
}

footer{
    background: #1C3180;
}
.h2-f{
    color: #FE630E;
}
.b, .f-p{
    color: white;
}
.button{
    background: #FE630E;
    padding: 10px;
    color: white;
}
.button2{
    background: white;
    padding: 10px;
    color: #1C3180;
}