@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;700&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}
.logo{
    float: left;
    color: #385F96;
}
nav{
    float: right;
    padding: 5px;
}
nav ul li{
    display:inline-block;
    margin: 0 15px;
    list-style-type: none;
}
nav ul li a{
    color:#385F96;    ;
}
a{
    text-decoration: none;
}
header{
    overflow: hidden;
}
section{
    overflow: hidden;
}
.container{
    max-width: 80%;
    margin: auto;
}
.hero{
    padding: 80px 0;
}
.half-width{
    width: 50%;
    float: left;
}
.half-width img{
    margin-left: 20%;    
}
.title{
    font-size: 48px;
    color: #385F96;
    position: relative;
}
.title::before{
    content: "";
    width: 170px;
    height: 180px;
    position: absolute;
    top: -70%;
    left: -18%;
    background-image: url("/src/resource/image/hero.png");
    background-size: cover;
    z-index: -1;
}
.half-width img::before{
    width: 400px;
    height: 450px;
    position: absolute;
    top: -70%;
    background-size: cover;
    z-index: -2;
}
.dis{
    color: blueviolet;
    margin-bottom: 30px;
}
.btn{
    border-radius: 25px;
    background: #385F96;
    color: aquamarine;
    padding: 12px;
    width: 200px;
    height: 150px;
    
}
